.header {
  grid-area: HEAD;
  height: 64px;
  background-color: #0067b8;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.nav_logo {
  display: flex;
  align-items: center;
  color: white;
}

.nav_logo .nav_icon {
  font-size: 22px;
  cursor: pointer;
}

.nav_logo .nav_title {
  font-size: 15px;
  margin-left: 14px;
}

.line {
  height: 26px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 20px;
}

.puntos {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

@media (min-width: 500px) {
  .puntos {
    display: none;
  }
}

.nav_links {
  display: flex;
  align-items: center;

}
@media (max-width: 550px) {

  .nav_links {

    display: none;
  }
}

.nav_links .link_item {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav_links .link_item:not(:first-child) {
  margin-left: 16px;
}
